# Database Configuration
DB_HOST=localhost
DB_NAME=cgv_booking
DB_USER=root
DB_PASS=Hobakhang@2301

# SMTP Configuration (Gmail or other mail service)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=cgvadmin@gmail.com
SMTP_PASSWORD=nseh zqkd evbj koky
SMTP_ENCRYPTION=tls
SMTP_FROM_EMAIL=cgvadmin@gmail.com
SMTP_FROM_NAME=CGV Booking
SMTP_TIMEOUT=20
